<form [formGroup]="form" (ngSubmit)="saveCategory()">
    <div class="row">
        <div class="col-sm-12 col-md-8 mb-3">
            <mat-form-field>
                <mat-label>Nome da Categoria</mat-label>
                <input type="text" formControlName="name" matInput>
            </mat-form-field>
        </div>

        <div class="col-sm-12 col-md-2 mb-3">
            <button type="submit" [disabled]="form.invalid" class="mat-elevation-z6" mat-raised-button
                color="primary">{{buttonSaveLabel}}</button>
        </div>

        <div class="col-sm-12 col-md-2 mb-3">
            <button type="button" (click)="resetForm()" class="mat-elevation-z6" mat-raised-button
                color="warn">Cancelar</button>
        </div>
    </div>
</form>