.button-add {
    text-align: end;
    padding-right: 50px;
}

table {
    width: 100%;
}

.mat-column-phoneNumber1 {
    text-align: center;
}

.mat-column-actions {
    text-align: center;
}

.mat-column-dateRegistration {
    text-align: center;
}

.mat-column-dateUpdate {
    text-align: center;
}